[Desktop Entry]
Name=diana
GenericName=diana
Comment=Diana
Exec=diana
Icon=/usr/local/share/pixmaps/diana.png
MimeType=
ServiceTypes=
Terminal=false
Type=Application
Categories=Meteorologisk
