[Desktop Entry]
Name=diana-TEST
GenericName=diana
Comment=Diana -  using test-servers
Exec=diana-TEST
Icon=/usr/local/share/pixmaps/diana-TEST.png
BinaryPattern=
Protocols=
MimeType=
ServiceTypes=
Terminal=false
TerminalOptions=
Type=Application
MapNotify=false
Categories=Meteorologisk;Meteorologisk-Test

