[Desktop Entry]
Name=diana
GenericName=diana
Comment=Diana
Exec=diana
Icon=/usr/local/share/pixmaps/diana.png
BinaryPattern=
Protocols=
MimeType=
ServiceTypes=
Terminal=false
TerminalOptions=
Type=Application
MapNotify=false
Categories=Meteorologisk
