[Desktop Entry]
Name=diana-test
GenericName=diana
Comment=Diana -  using test-servers
Exec=diana-test
Icon=/usr/local/share/pixmaps/diana-test.png
MimeType=
ServiceTypes=
Terminal=false
Type=Application
Categories=Meteorologisk;Meteorologisk-Test

