/aclocal.m4
/autom4te.cache
/bin/diana
/bin/diana.bat
/bin/diana-zip.bat
/bin/Makefile
/bin/Makefile.in
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/etc/diana/diana.setup
/etc/Makefile
/etc/Makefile.in
/install-sh
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/mk
/share/applications/metno-diana-versioned.desktop
/share/diana/lang/diana_*.qm
/src/bdiana
/src/bdiana-*.o
/src/.deps/
/src/diana.bin
/src/diana_bin-*.o
/src/diBuild.h
/src/libdiana.a
/src/libdiana_a-*.o
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/*.moc.cc
/src/*.moc.o
/src/test-diOrderBook
/src/test_diOrderBook-*.o
/stamp-h1
/debian
/do-configure
