/aclocal.m4
/autom4te.cache
/bin/diana
/bin/diana.bat
/bin/diana-zip.bat
/bin/Makefile
/bin/Makefile.in
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/etc/diana/diana.setup
/etc/Makefile
/etc/Makefile.in
/install-sh
/libtool
/ltmain.sh
/m4
/Makefile
/Makefile.in
/missing
/mk
/share/applications/metno-diana-versioned.desktop
/share/applications/metno-diana.desktop
/share/diana/lang/diana_*.qm
/src/bdiana
/src/bdiana-*.o
/src/.deps/
/src/diana.bin
/src/diana_bin-*.o
/src/diBuild.h
/src/libdiana.a
/src/libdiana_a-*.o
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/*.moc.cc
/src/*.moc.o
/src/test-diOrderBook
/src/test_diOrderBook-*.o
/stamp-h1
/debian
/do-configure
/configure-stamp
/src/PaintGL/paintgl.moc.cc
/src/libdiana.la
/src/libdiana_la-*
/perl/Makefile
/perl/Makefile.in
/perl/Metno-Bdiana/*/.exists
/perl/Metno-Bdiana/*/*/.exists
/perl/Metno-Bdiana/Bdiana.bs
/perl/Metno-Bdiana/Bdiana.c
/perl/Metno-Bdiana/Bdiana.o
/perl/Metno-Bdiana/.distclean
/perl/Metno-Bdiana/Makefile
/perl/Metno-Bdiana/Makefile.old
/perl/Metno-Bdiana/pm_to_blib
/perl/Metno-Bdiana/MYMETA.yml
/perl/Metno-Bdiana/blib/arch/auto/Metno/Bdiana/.exists
/perl/Metno-Bdiana/blib/arch/auto/Metno/Bdiana/Bdiana.bs
/perl/Metno-Bdiana/blib/arch/auto/Metno/Bdiana/Bdiana.so
/perl/Metno-Bdiana/blib/lib/Metno/.exists
/perl/Metno-Bdiana/blib/lib/Metno/Bdiana.pm
/perl/Metno-Bdiana/blib/lib/Metno/Bdiana.pm.in
/perl/Metno-Bdiana/blib/lib/auto/Metno/Bdiana/.exists
/perl/Metno-Bdiana/blib/man3/Metno::Bdiana.3pm
/COPYING
/.cproject
/.project
