/.gitignore
/.git_archival.txt
/aclocal.m4
/autom4te.cache
/bin/diana
/bin/diana.bat
/bin/diana-zip.bat
/bin/Makefile
/bin/Makefile.in
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/etc/diana/diana.setup
/etc/Makefile
/etc/Makefile.in
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/mk
/share/applications/metno-diana-versioned.desktop
/share/applications/metno-diana.desktop
/share/diana/lang/diana_*.qm
/src/bdiana
/src/bdiana.o
/src/bdiana-*.o
/src/.deps/
/src/diana.bin
/src/diana_bin-*.o
/src/libdiana.a
/src/libdiana_a-*.o
/src/.libs/
/src/Makefile
/src/Makefile.in
/src/*.moc.cc
/src/*.moc.o
/src/*/*.moc.cc
/src/*/*.moc.o
/src/vcross_v2/libdiana_vcross.a
/src/test-diOrderBook
/src/test_diOrderBook-*.o
/src/test-diPlotOptions
/src/test_diPlotOptions-*.o
/src/*/Makefile
/src/*/Makefile.in
/test/Makefile
/test/Makefile.in
/test/gtest/Makefile
/test/gtest/Makefile.in
/stamp-h1
/debian
/do-configure
/configure-stamp
/src/PaintGL/paintgl.moc.cc
/src/libdiana.la
/src/libdiana_la-*
/perl/Makefile
/perl/Makefile.in
/perl/Metno-Bdiana/*/.exists
/perl/Metno-Bdiana/*/*/.exists
/perl/Metno-Bdiana/Bdiana.bs
/perl/Metno-Bdiana/Bdiana.c
/perl/Metno-Bdiana/Bdiana.o
/perl/Metno-Bdiana/.distclean
/perl/Metno-Bdiana/Makefile
/perl/Metno-Bdiana/Makefile.old
/perl/Metno-Bdiana/pm_to_blib
/perl/Metno-Bdiana/MYMETA.yml
/perl/Metno-Bdiana/blib/arch/auto/Metno/Bdiana/.exists
/perl/Metno-Bdiana/blib/arch/auto/Metno/Bdiana/Bdiana.bs
/perl/Metno-Bdiana/blib/arch/auto/Metno/Bdiana/Bdiana.so
/perl/Metno-Bdiana/blib/lib/Metno/.exists
/perl/Metno-Bdiana/blib/lib/Metno/Bdiana.pm
/perl/Metno-Bdiana/blib/lib/Metno/Bdiana.pm.in
/perl/Metno-Bdiana/blib/lib/auto/Metno/Bdiana/.exists
/perl/Metno-Bdiana/blib/man3/Metno::Bdiana.3pm
/perl/Metno-Bdiana/lib/Metno/Bdiana.pm
/COPYING
/.cproject
/.project
/compile
/src/test/.deps
/src/test/Makefile
/src/test/SvgContouring
/src/test/SvgContouring-*.o
/src/test/contour_data/actual_*.svg
/src/test/dianaUnitTests
/src/test/dianaUnitTests-*.o
/src/test/gtest/Makefile
/src/test/gtest/gtest*.o
/src/test/gtest/libgtest*.a
/config.h.in~
/test-driver
src/EditItems/.deps/
src/EditItems/.dirstamp
src/EditItems/.libs/
src/EditItems/*.o
src/EditItems/*.lo
src/PaintGL/.deps/
src/PaintGL/GL/libtess/.deps/
src/PaintGL/GL/libutil/.deps/
src/test/.libs/
src/vcross_qt/.deps/
src/vcross_qt/.dirstamp
src/vcross_v2/.libs/
src/vcross_qt/*.o
src/vcross_qt/*.ui.h
src/vcross_v2/.deps/
src/vcross_v2/.dirstamp
src/vcross_v2/*.o
src/vcross_v2/*.lo
src/wmsclient/.deps/
src/wmsclient/.dirstamp
src/wmsclient/.libs/
src/wmsclient/*.ui.h
src/wmsclient/*o
/.clang-format
