Source: diana
Section: science
Priority: extra
Maintainer: Norwegian Meteorological Institute met.no <diana@met.no>
Build-Depends: debhelper (>= 7.4.15), g++,
 perl, lsb-release, autoconf (>=2.61), automake (>= 1.10),
 libtool (>= 1.5), qt4-qmake, libqt4-dev, libemos-dev,
 metlibs-miraster-dev (>= 5.0.0), metlibs-difield-dev (>= 5.0.0),
 metlibs-pudatatypes-dev (>= 5.0.0), metlibs-qutilities-dev (>= 5.0.0),
 metlibs-coserver-dev (>= 1.1.0),
 libboost-date-time-dev, libboost-filesystem-dev, libboost-regex-dev,
 libboost-system-dev, libgeotiff-dev, libshp-dev,
 libpng-dev, libavformat-dev,
 cmake, libgtest-dev
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.2

Package: diana-nogl-@PVERSION_MAJOR_DOT_MINOR@
Architecture: any
Provides: diana-nogl@METNO_SUFFIX@
Depends: diana-@METNO_VERSION@-common, ${shlibs:Depends}, ${misc:Depends}
Recommends: dianamaps, dianaconfig-@METNO_VERSION@, metno-bufrtables
Description: Meteorological visualisation tool
 Diana is the core visualisation tool from met.no (Norwegian
 Meteorological Institute) and is distributed under the GPL 
 license. See gpl.txt for details concerning the GPL license.
 Diana is a graphical viewer and editor developed for use with
 meteorological and oceanographic data.

Package: diana-nogl-dev
Architecture: any
Section: libdevel
Depends: diana-nogl-@PVERSION_MAJOR_DOT_MINOR@, ${shlibs:Depends}, ${misc:Depends}
Description: Meteorological visualisation tool
 Diana is the core visualisation tool from met.no (Norwegian
 Meteorological Institute) and is distributed under the GPL
 license. See gpl.txt for details concerning the GPL license.
 Diana is a graphical viewer and editor developed for use with
 meteorological and oceanographic data.
 This package provides development files required to build
 additional libraries and tools against a version of Diana for
 batched generation of products.
