Source: diana-wms
Section: science
Priority: extra
Maintainer: Norwegian Meteorological Institute met.no <diana@met.no>
Build-Depends: debhelper (>= 7.4.15), autotools-dev,
 qt4-qmake-qws, libqt4-qws-dev, metlibs-dev, libemos-dev
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.9.2

Package: diana-wms
Architecture: any
Depends: libemos0d (>= 000382+dfsg-metno0), libfimex-0.37.3-0, libfelt-0.37.3-0,
 libqtcore4-qws, libqtgui4-qws, libqt4-network-qws, libqt4-svg-qws,
 qt4-qws-dummy-screen-plugin
Description: Meteorological visualisation tool
 Diana is the core visualisation tool from met.no (Norwegian
 Meteorological Institute) and is distributed under the GPL 
 license. See gpl.txt for details concerning the GPL license.
 Diana is a graphical viewer and editor developed for use with
 meteorological and oceanographic data.
 This package provides a version of Diana for batched generation of
 products to be used with a Web Map Service installation.
