#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@

include /usr/share/metno-devscripts/metno_rules.mk

do-configure:
	./autogen.sh
	./configure \
	    --prefix=/usr/share/metno-bdiana \
	    --enable-obs-bufr \
	    --disable-proddb \
	    --disable-profet \
	    --disable-video-export \
	    --enable-geotiff \
	    --with-emos=/usr/share/metno-bdiana \
	    --with-qt4=/usr/share/metno-bdiana \
	    --with-qt4-includedir=/usr/share/metno-bdiana/include \
	    --with-qt4-libdir=/usr/share/metno-bdiana/lib \
	    --with-qmake=/usr/share/metno-bdiana/bin/qmake-qt4 \
	    --with-moc=/usr/share/metno-bdiana/bin/moc-qt4 \
	    --with-rcc=/usr/share/metno-bdiana/bin/rcc \
	    --with-uic=/usr/share/metno-bdiana/bin/uic-qt4 \
	    --with-lupdate=/usr/share/metno-bdiana/bin/lupdate \
	    --with-lrelease=/usr/share/metno-bdiana/bin/lrelease-qt4 \
	    --enable-embedded \
	    --enable-batch-only
