#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@
DESTDIR = debian/diana-headless-@PVERSION_MAJOR_DOT_MINOR@

include /usr/share/metno-devscripts/metno_rules.mk

# Support parallel building.
%:
	dh $@ --parallel

# Ensure that the executable searches for libraries under the /opt/qt4-qws prefix.
confflags += LDFLAGS="-Wl,-rpath=/opt/qt4-qws/lib"

do-configure:
	./autogen.sh
	./configure $(confflags) \
	    --prefix=/usr \
	    --enable-obs-bufr \
	    --disable-proddb \
	    --disable-profet \
	    --disable-video-export \
	    --enable-geotiff \
	    --with-qt4=/opt/qt4-qws \
	    --with-qt4-includedir=/opt/qt4-qws/include \
	    --with-qt4-libdir=/opt/qt4-qws/lib \
            --with-qmake=/opt/qt4-qws/bin/qmake \
            --with-moc=/opt/qt4-qws/bin/moc \
	    --with-rcc=/opt/qt4-qws/bin/rcc \
            --with-uic=/opt/qt4-qws/bin/uic \
	    --with-lupdate=/opt/qt4-qws/bin/lupdate \
            --with-lrelease=/opt/qt4-qws/bin/lrelease \
	    --enable-embedded \
		--enable-perl \
	    --enable-batch-only

override_dh_auto_install:
	    mkdir -p $(DESTDIR)/usr/bin
	    cp src/.libs/bdiana $(DESTDIR)/usr/bin/bdiana-@PVERSION_MAJOR_DOT_MINOR@
	    mkdir -p $(DESTDIR)/usr/lib
	    cp src/.libs/libdiana.so.@PVERSION_MAJOR_DOT_MINOR_DOT_PATCH@ $(DESTDIR)/usr/lib
	    cp -P src/.libs/libdiana.so.@PVERSION_MAJOR@ $(DESTDIR)/usr/lib
	    cp -P src/.libs/libdiana.so $(DESTDIR)/usr/lib
	    cd perl && make install DESTDIR=$(DESTDIR)
