#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

LDFLAGS += -L/opt/metno-bdiana/lib

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

# Ensure that the executable searches for libraries under the /opt/metno-bdiana prefix.
confflags += LDFLAGS="-Wl,-rpath=/opt/metno-bdiana/lib"

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	./autogen.sh
	./configure $(confflags) \
	    --prefix=/opt/metno-bdiana \
	    --enable-obs-bufr \
	    --disable-proddb \
	    --disable-profet \
	    --disable-video-export \
	    --enable-geotiff \
	    --with-emos=/opt/metno-bdiana \
	    --with-qt4=/opt/qt4-qws \
	    --with-qt4-includedir=/opt/qt4-qws/include \
	    --with-qt4-libdir=/opt/qt4-qws/lib \
	    --with-qmake=/opt/qt4-qws/bin/qmake-qt4 \
	    --with-moc=/opt/qt4-qws/bin/moc-qt4 \
	    --with-rcc=/opt/qt4-qws/bin/rcc \
	    --with-uic=/opt/qt4-qws/bin/uic-qt4 \
	    --with-lupdate=/opt/qt4-qws/bin/lupdate \
	    --with-lrelease=/opt/qt4-qws/bin/lrelease-qt4 \
	    --enable-embedded \
	    --enable-batch-only
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) 

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	# Add here commands to install the package into debian/diana
	$(MAKE) DESTDIR=$(CURDIR)/debian/diana-wms install


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	LD_LIBRARY_PATH=/opt/metno-bdiana/lib dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
