Source: diana-@METNO_VERSION@
Section: science
Priority: extra
Maintainer: Norwegian Meteorological Institute met.no <diana@met.no>
Build-Depends: debhelper (>= 9),
 autoconf (>=2.62), automake (>= 1.11), libtool (>= 2.4.2), pkg-config,
 qt4-qmake, libqt4-dev,
@metno_config_if .*precise.*
@metno_config_else
 libqt4-dev-bin,
@metno_config_endif
 libqt4-opengl-dev, libgl1-mesa-dev, libglu1-mesa-dev, libftgl-dev,
 metlibs-qutilities-dev (>= 5.1.4), metlibs-coserver-dev (>= 2.1.0),
 metlibs-putools-dev (>= 5.1.5), metlibs-milogger-dev (>= 5.0.3),
 metlibs-pudatatypes-dev (>= 5.0.2),
 libfimex-dev (>= 0.63),
 libboost-dev,
 libboost-date-time-dev,
 libboost-system-dev,
 libcurl-dev,
 libgeotiff-dev,
 libpng-dev,
 libudunits2-dev,
 libproj-dev,
 libshp-dev,
 libemos-dev,
 cmake,
 libgtest-dev
Standards-Version: 3.9.2

Package: diana-@METNO_VERSION@
Architecture: any
Depends: diana-@METNO_VERSION@-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Recommends: libav-tools, gdal-bin, imagemagick
Conflicts: diana-3.33 (<< 3.33.1), diana-3.32, diana-3.31, diana-3.30
Provides: diana
Description: Meteorological visualisation tool
 Diana is the core visualisation tool from met.no (Norwegian
 Meteorological Institute) and is distributed under the GPL 
 license. See gpl.txt for details concerning the GPL license.
 Diana is a graphical viewer and editor developed for use with
 meteorological and oceanographic data.
 .
 It uses OpenGL for the graphics and Trolltech Qt for the user
 interface.  Diana shows fields, observations and satellite and radar
 images on a map. 2D-trajectories can be computed from wind and ocean
 current fields.  The tool also displays vertical profiles
 (soundings), vertical crossections and wave spectrum data in separate
 windows, all from preprocessed data. Preprocessing software is
 however not a part of Diana.  The editor tools consist of a field
 editor and a drawing tool for fronts, symbols and area types.

Package: diana-@METNO_VERSION@-dbg
Section: debug
Architecture: any
Depends: diana-@METNO_VERSION@ (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for diana-@METNO_VERSION@
 This package contains the debugging symbols for diana-@METNO_VERSION@

Package: diana-@METNO_VERSION@-common
Architecture: all
Depends: ${misc:Depends}
Description: common files for diana and bdiana packages
 This package contains files shared between versioned
 diana-@METNO_VERSION@ and bdiana-@METNO_VERSION@ packages.

Package: diana-dev
Architecture: any
Section: libdevel
Depends: diana-@METNO_VERSION@ (= ${binary:Version}),
 ${misc:Depends}
Conflicts: diana-nogl-dev
Description: Meteorological visualisation tool
 Diana is the core visualisation tool from met.no (Norwegian
 Meteorological Institute) and is distributed under the GPL
 license. See gpl.txt for details concerning the GPL license.
 Diana is a graphical viewer and editor developed for use with
 meteorological and oceanographic data.
 .
 This package provides development files required to build
 additional libraries and tools against a version of Diana for
 batched generation of products.
