#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --parallel

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- \
	    -DENABLE_DIANA_OMP=1 \
	    -DENABLE_GEOTIFF=1 \
	    -DENABLE_OBS_BUFR=1 \
	    -DENABLE_PERL=1

.PHONY: override_dh_auto_test
override_dh_auto_test:
	ctest --output-on-failure

.PHONY: override_dh_strip
override_dh_strip:
	dh_strip -pdiana-@METNO_VERSION@ --dbg-package=diana-@METNO_VERSION@-dbg
