#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@

include /usr/share/metno-devscripts/metno_rules.mk

do-configure: configure-stamp
	@true
configure-stamp:
	./autogen.sh
	./configure $(confflags) \
	    --disable-silent-rules \
	    --enable-geotiff \
            --enable-obs-bufr \
@metno_config_if ^trusty
            --disable-video-export \
@metno_config_endif
	    --prefix=/usr --sysconfdir=/etc --localstatedir=/var \
	    --program-suffix=$(METNO_SUFFIX)
	touch $@

.PHONY: override_dh_strip
override_dh_strip:
	@echo "No stripping of debug info for met.no"
#	dh_strip --dbg-package=diana-@METNO_VERSION@-dbg
