#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@
DESTDIR = debian/bdiana-@PVERSION_MAJOR_DOT_MINOR@

include /usr/share/metno-devscripts/metno_rules.mk

export DH_VERBOSE=1
ifndef PERL
PERL = /usr/bin/perl
endif

# Support parallel building.
%:
	dh $@ --parallel

# Ensure that the executable searches for libraries under the /opt/qt4-headless prefix
# and work around missing linkage to the Boost threading library in metlibs.
confflags += LDFLAGS="-Wl,-rpath=/opt/qt4-headless/lib -Wl,-lboost_thread"

do-configure:
	./autogen.sh
	./configure $(confflags) \
	    --disable-silent-rules \
	    --prefix=/usr \
	    --libdir=/usr/lib/bdiana/@PVERSION_MAJOR_DOT_MINOR@ \
	    --enable-obs-bufr \
	    --enable-video-export \
	    --with-geotiff \
	    --with-qt4=/opt/qt4-headless \
	    --with-qt4-includedir=/opt/qt4-headless/include \
	    --with-qt4-libdir=/opt/qt4-headless/lib \
	    --with-qmake=/opt/qt4-headless/bin/qmake \
	    --with-moc=/opt/qt4-headless/bin/moc \
	    --with-rcc=/opt/qt4-headless/bin/rcc \
	    --with-uic=/opt/qt4-headless/bin/uic \
	    --with-lupdate=/opt/qt4-headless/bin/lupdate \
	    --with-lrelease=/opt/qt4-headless/bin/lrelease \
	    --disable-gui \
	    --enable-perl

override_dh_auto_install:
	    mkdir -p $(DESTDIR)/usr/bin
	    cp src/.libs/bdiana $(DESTDIR)/usr/bin/bdiana-@PVERSION_MAJOR_DOT_MINOR@

