#!/usr/bin/make -f
# -*- makefile -*-

METNO_CONFIG = @METNO_CONFIG@
METNO_SUFFIX = @METNO_SUFFIX@
DESTDIR = debian/bdiana-@PVERSION_MAJOR_DOT_MINOR@

include /usr/share/metno-devscripts/metno_rules.mk

export DH_VERBOSE=1
ifndef PERL
PERL = /usr/bin/perl
endif

# Support parallel building.
%:
	dh $@ --parallel

# Ensure that the executable searches for libraries under the /usr/lib/qt4-headless prefix
# and work around missing linkage to the Boost threading library in metlibs.
confflags += LDFLAGS="-Wl,-rpath=/usr/lib/qt4-headless -Wl,-lboost_thread"

do-configure:
	./autogen.sh
	./configure $(confflags) \
	    --disable-silent-rules \
	    --prefix=/usr \
	    --enable-obs-bufr \
	    --disable-proddb \
	    --disable-profet \
	    --enable-video-export \
	    --enable-geotiff \
	    --with-qt4=/usr/lib/qt4-headless \
	    --with-qt4-includedir=/usr/include/qt4-headless \
	    --with-qt4-libdir=/usr/lib/qt4-headless \
	    --with-qmake=/usr/bin/qmake-qt4-headless \
	    --with-moc=/usr/bin/moc-qt4-headless \
	    --with-rcc=/usr/bin/rcc-qt4-headless \
	    --with-uic=/usr/bin/uic-qt4-headless \
	    --with-lupdate=/usr/bin/lupdate-qt4-headless \
	    --with-lrelease=/usr/bin/lrelease-qt4-headless \
	    --enable-embedded \
		--enable-perl \
	    --enable-batch-only

override_dh_auto_install:
	    mkdir -p $(DESTDIR)/usr/bin
	    cp src/.libs/bdiana $(DESTDIR)/usr/bin/bdiana-@PVERSION_MAJOR_DOT_MINOR@

